#slider {
    margin: 1em;
    width: 30%;
}

#chord_name {
    font-size: 12em;
    margin-bottom: 0em;
    margin-top: 0em;
    text-align: center;
}

#next_chord_name {
    font-size: 4em;
    margin-bottom: 0em;
    margin-top: 0em;
    text-align: center;
}
