/**
  * @file css/styles.css
  *
  * This file contains the Flash Chord custom styling.
  */

.fs-small {
    font-size: .8em;
}

/* BEGIN configuration and instructions flyout styling */
.offcanvas-start {
    width: 100% !important;
}

.offcanvas-body {
    overflow-y: auto;
}

.btn-close {
    background-size: 2.5em;
}
/* END configuration and instructions flyout styling */

#tempo {
    margin: 1em 2em 1em 2em;
    width: 80%;
}

#tempo .ui-slider-handle, #bars .ui-slider-handle {
    margin-left: -2em;
    width: 4em;
}

#bars {
    margin: 1em 2em 1em 2em;
    width: 80%;
}

#bars-progress {
    width: 10em;
    padding-right: 2px;
}

#bars-progress .ui-widget-header {
    background-color: #007BFF;
    margin: 0 -2px 0 0;
}

#bars-progress .ui-progressbar {
    background-color: #FF0000;
}

#chord-name {
    font-size: 12em;
    line-height: 1;
    margin: 0 0 .2em 0;
}

#next-chord-name {
    font-size: 4em;
    margin: 0 0 .6em 0;
}

#visual-metronome {
    font-size: 2em;
}

.ui-state-active {
    background-color: #999999;
}

.display-inline-block {
    display: inline-block;
}